.project-breadcrumb{
    background-color: honeydew;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.test-divs{
    border: hotpink 2px solid;
}

#hide{
    /* display: none; */
    /* visibility: hidden;*/
} 